<h1>All Tickets</h1>

<div class="ticket-table">
	<div class="ticket-table-header">
		<span class="ticket-id">Ticket #</span>
		<span class="ticket-summary">Summary</span>
		<span class="ticket-creation-date">Created On</span>
		<span class="ticket-status">Status</span>
	</div>
	<%= @issues.each do |issue| %>
	<div class="ticket-summary-line">
		<span class="ticket-id"><%= link_to issue.id, issue %></span>
		<span class="ticket-summary"><%= issue.summary_text %></span>
		<span class="ticket-creation-date"><%= issue.created_at %></span>
		<span class="ticket-status"><%= issue.status %></span>
	</div>
	<% end %>
</div>

<%= link_to 'Create a new ticket...', new_issue_path %>
